*{
    margin: 0;
    padding: 0;
}
#navigation{
    background-image: linear-gradient(dodgerblue, rgb(0, 38, 76));
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-left: 100px;
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: linear-gradient(rgb(0, 58, 116),rgb(2, 82, 162), rgb(199, 255, 30));
    padding: 15px 20px;
    border-radius: 5px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    box-shadow: 5px 5px 10px rgb(0, 0, 0),-5px -5px 10px rgb(0, 0, 0);
  
}
.single-text{
    color: red;
    font-size: 28px;
}
.single-text2{
    color: rgb(77, 249, 166);
}
.navbar-item{
    display: flex;
    padding-right: 100px;
}
.navbar-link{
    list-style: none;
}
.navbar-link > a{
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 20px 30px;
    border-right: 1px solid white;
    transition: .5s;
}
.navbar-link:first-child > a{
    border-left: 1px solid white;
}
.navbar-link:hover > a{
    background-color: rgba(0, 60, 119, 0.563);
    box-shadow: 3px 0px 8px rgb(148, 193, 238), -3px 0px 8px rgb(148, 193, 238);
    text-shadow: 0px 3px 14px rgb(7, 30, 176), 0px -3px 14px rgb(5, 40, 121);
}
#dropdawnMenu{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: dodgerblue;
    margin-top: 20px;
    text-align: center;
    box-shadow: 5px 5px 10px black;
    transition: .5s;
    transform: scaleY(0);
    transform-origin: top;
}
.dropdawn-link{
    list-style: none;
    width: 180px;
    padding: 15px 20px;
    border-bottom: 1px solid white;
    transition: .5s;
}
.dropdawn-link > a{
text-decoration: none;
font-size: 30px;
color: white;
}
.dropdawn-link:first-child{
    border-top: 1px solid white;
}
.dropdawn-link:hover{
    background-color: rgba(0, 50, 100, 0.367);
}
.navbar-link:hover > #dropdawnMenu{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

#main-area{
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.401)), url(web\ header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-area{
    padding-top: 200px;
}
.hero-area > h2{
    background-color: rgb(1, 102, 203);
    font-size: 50px;
    width: 500px;
    color: #ffffff;
    margin:20px auto;
    border-radius: 10px;
    padding: 15px 0;
    text-align: center;
}
.hero-area > h5{
    font-size: 30px;
}
.hero-area > h4{
    font-size: 25px;
}
.hero-area > button{
    font-size: 22px;
    padding: 15px 30px;
    margin: 5px 0;
    color: #ffffff;
    background-color: rgba(0, 78, 156, 0.918);
    border: 5px solid green;
    border-radius: 40px 10px 40px 10px;
    transition: .5s;
    cursor: pointer;

}
.hero-area > button:hover{
    background-color: rgba(1, 107, 213, 0.089);
    color:rgb(0, 40, 101);
}
.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.social-icon > a{
    text-decoration: none;
    color: white;
    background-color: rgba(234, 224, 224, 0.527);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 1.7;
    padding: 5px;
    border: 2px solid white;
    transition: .5s;
}
.social-icon > a:hover{
    background-color: rgb(0, 45, 90);
    border: 2px solid green;
    transform: rotate(360deg);
}
/* #first-section{
    background-color: rgba(128, 128, 128, 0.264);
    padding: 2px 0;
} */
#box-container{
    display: flex;
    width: 1000px;
    margin: 40px auto;
    justify-content: space-between;
}
.learn-programing{
    text-align: center;
    transition: .5s;
    margin: 20px 10px;
}
.learn-programing > h2{
    font-size: 30px;
    padding: 15px 20px;
}
.learn-programing > i{
    font-size: 60px;
    padding-top: 20px;
}
.learn-programing:hover{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.442);

}
.main-header{
    font-size: 40px;
    width: 400px;
    /* background-color: aqua; */
    margin: 26px auto;
    text-align: center;
    padding-top: 100px;
    position: relative;
}
.main-header > h1::after {
    content: "";
    top: 170px;
    bottom: 0px;
    width: 120px;
    height: 5px;
    position: absolute;
    background-color: #c61717;
    left: 138px;
    border-redius: 5px;
  }
#smart-area-title{
    display: flex;
    justify-content: space-between;
    text-align:left;
    width: 1000px;
    margin: auto;
    padding: 50px 0;
    /* background-color: aqua; */
}
/* .smart-woman > img{
    width: 500px;
} */
 .smart-area-contain{
    width: 500px;
 }
 .smart-area-contain > h3 {
    color: rgb(206, 7, 7);
    font-size: 20px;

    margin-top: 40px;
  }
 .smart-area-contain > h2 {
    font-size: 40px;
    padding-bottom: 28px;
}
.smart-area-contain > p{
    font-size: 20px;
    display: inline-block;
    margin: 20px 0;
}
 .smart-area-contain > a{
   padding: 15px 30px;
   font-size: 20px;
   margin-top:30px;
   display: inline-block;
    background-color: rgb(170, 7, 7);
    color: white;
    text-decoration: none;
    transition: .5s;
    border-radius: 5px;
 }
 .smart-area-contain > a:hover{
    background-color: rgb(93, 2, 2);
 }
 #third-section{
    background-color: #aea8a821;
 }
 .services-area-title{
    text-align: center;
    padding: 40px 0 60px 0 ;
 }
 .services-area-title > h4{
    font-size: 20px;
 }
 .services-area-title > h1{
    font-size: 30px;
 }
 .services-area-parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-bottom: 60px;

 }
 .service-area{
    width: 1000px;
    margin: auto;
 }
 .each-service{
    background-color: lightblue;
    text-align: center;
    padding: 30px 0;
    transition: .5s;
 }
 .each-service:hover{
background-color: #98c5e89b;
 }
 .each-service > i{
    font-size: 40px;
    color: #780000;
 }
 .each-service > h1{
    font-size: 30px;
    margin: 15px 0;
 }


 /* 4th section start here */
 #fourth-section{
    background-color: #00000013;
 }
 .pricing-course{
    text-align: center;
    padding: 60px 0;
    width: 1000px;
    margin: auto;

 }
 .course-price{
    font-size: 40px;
    padding-bottom: 60px;
 }

 .course-pricing-container{
    display: flex;
    justify-content: space-between;
    
 }
 .single-card{
    width: 310px;
    text-align: center;
    box-shadow: 5px 5px 10px;

 }
 .single-card > h3{
    font-size: 30px;
    padding: 20px 0;
 }
 .single-card-img{
    width: 310px;
    height: 310px;
    /* border: 5px solid red; */
 }
 .single-card-img > img{
    max-width: 100%;
    max-height: 100%;
    
 }

 .month-price{
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    margin: 15px 20px;
    padding: 10px 0;

 }
 .month-price-span1{
    font-size: 20px;
 }
 .month-price-span2{
    color: #0303039f;
 }
 .single-card > button{
    background-color: #780000;
    color: #f9f9f9;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
    transition: .5s;
 }
 .single-card > button:hover{
    background-color: #fff9f900;
    color: black;
    border: 1px solid black;
 }
 .online-link > a{
    text-decoration: none;
    display: inline-block;
    margin: 15px 0;
    
 }
 /* testimonial start here */


 .testimonial-area{
    background-color: rgba(247, 158, 33, 0.541);
 }
 .testo-title{
    text-align: center;
    padding-top: 50px;
 }
 .testo-title > h2{
    font-size: 30px;
 }
 .testo-title > p{
    font-size: 15px;
    letter-spacing: 5px;
 }
 .testimonial-parent-div{
    width: 1000px;
    margin: auto;
    padding: 60px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    
 }
 .testo-single-card{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
 }
 .testo-single-card-img{
    width: 100px;
    margin: 0px 20px 0px 0px;

 }
 .testo-single-card-img > img{
    max-width: 100%;
    border-radius: 50%;
    border: 1px solid red;

 }
 .first-card-span1{
    font-size: 25px;
    display: inline-block;
    margin: 10px 0;
 }
 .card-text > P{
    padding-bottom: 10px;
 }
 .testo-icon{
    color: #ffc004;
 }


 /* parallax section start here  */
 #sis-sextion{
   background-image: url(parallax.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   padding: 60px 0;
   
 }

 .parallax-area{
   display: flex;
   width: 1000px;
   margin: auto;
   justify-content: space-between;
   /* background-color: #00000013; */


 }
 .parallax-first-div{
   text-align: center;
   color: #ffffff;
 }
 .parallax-first-div > i{
   font-size: 40px;
   /* margin-bottom: 20px; */

 }
 .parallax-first-div > h2{
   margin: 30px 0;
   font-size: 40px;
 }

 /* blog site start here  */

 .blog-main-area{
   width: 1000px;
   margin: auto;
   justify-content: space-between;
 }
 .blog-item-parent{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 5px;
   margin-top: 40px;
 }
 .blog-img{
   width: 320px;
   transition: .5s;

 }
 .blog-img >img{
   max-width: 100%;
   max-height: 100%;
   transition: .5s;

 }
 .blog-img >img:hover{
   transform: scale(1.2);
  
 }
 .blog-icon-div{
   position: relative;
   overflow: hidden;
   
 }
 .blog-icon {
	position: absolute;
	top: 0;
	left: 0;
   display: grid;
   width: 100%;
   height: 100%;
	text-align: center;
   color: #ffffff;
   font-size: 20px;
   opacity: 0;
   transition: .5s;
   place-content: center;
}
.blog-icon > i{
   font-size: 30px;
   padding-bottom: 20px;
}
.blog-icon-div:hover > .blog-icon{
   opacity: 1;
  background-color: rgba(0, 0, 0, 0.332);
}
.blog-icon-div:hover > .blog-img{
   transform: scale(1.5);
}
.blog-item > h1{
   margin:10px 0;
}
.blog-item > p{
   color: rgba(0, 0, 0, 0.551);
   padding-bottom: 40px;
}